.sliderContainer {
    position: relative;
    width: 100%;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    
    padding: 10px 15px;
   
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
 
  